
.navbar-brand
{
    font-size: 40px;
    margin-left: 100px;
}

nav a
{
    text-decoration: none;
    color: gray;
    margin-left: 55px;
}
nav a:hover
{
    color: burlywood;
}
span
{
    padding-right: 35rem;
    
}
.container
{
    padding-bottom: 25px;

}
mat-icon
{
    color: white;
}
.head
{
    height: 1500px;
    background-image: url('../../../assets/list/43.jpg');
}