*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /*z-index: -3px;*/

}
html,body
{
    width: 100;
    overflow-x: hidden;
    background-color: #efefefef;

}
/*navbar start*/

.navbar-brand
{
    font-size: 40px;
    margin-left: 100px;
}

nav a
{
    text-decoration: none;
    color: gray;
    margin-left: 55px;
    transition: 2s;
}
nav a:hover
{
    color: wheat;
}
span
{
    padding-right: 35rem;
}
.image1
{
    width: 100%;
    height: 50%;

}
